*{margin: 0;padding: 0;}
/*����a��ǩȥ�»���*/
a{text-decoration: none;}
/*��̬��ť��Ԫ��*/
.list{
    width:100%;
    height:50px;
}
/*��̬��ť���ÿ��*/
.listy{width:1200px;
    height:30px;
    margin:10px auto;
}
/*������ť����*/
.listy>a{
    width:90px;
    height:30px;
    display: inline-block;
    background: #606060;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size:13px;
    margin-left: 10px;
}
/*���Ч��*/
.listy>a:hover{
    transition: All 0.4s ease-in-out;
    background:firebrick;
}
/*���ܸ�Ԫ��*/
.ntitle{
    width:775px;
    height:92px;
    margin:0 auto;
}
/*�����������*/
.ntitle>p:first-child{
    width:775px;
    height:24px;
    font-size: 27px;
    font-weight:700;
    text-align: center;
}
/*��������*/
.ntitle>p:last-child{
    width:775px;
    height:48px;
    font-size: 14px;
    margin-top:22px;
    line-height:25px;
}
/*ͼƬ��Ԫ��*/
.T{width:100%;height:980px;margin-top:20px;}
/*ͼƬ��Ԫ��*/
.T>img{width:1200px;height: 920px;margin: 0 auto;display:block;}